
TimeSheet/\.vs/TimeSheet/config/applicationhost\.config

TimeSheet/\.vs/TimeSheet/v16/\.suo

TimeSheet/\.vs/TimeSheet/v16/Server/sqlite3/db\.lock

TimeSheet/\.vs/TimeSheet/v16/Server/sqlite3/storage\.ide

TimeSheet/\.vs/TimeSheet/v16/Server/sqlite3/storage\.ide-shm

TimeSheet/\.vs/TimeSheet/v16/Server/sqlite3/storage\.ide-wal

TimeSheet/.vs/TimeSheet/v15/Server/sqlite3/db.lock

TimeSheet/.vs/TimeSheet/v15/Server/sqlite3/storage.ide

TimeSheet/.vs/TimeSheet/v15/Server/sqlite3/storage.ide-shm

TimeSheet/.vs/TimeSheet/v15/Server/sqlite3/storage.ide-wal
