<meta charset="UTF-8" />
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--suppress JSUnresolvedLibraryURL -->

<link href="~/Styles/Rating/star-rating.min.css" rel="stylesheet" />
<script src="~/Scripts/Rating/star-rating.js"></script>
<form>


    <span>Punctuality</span><input id="rating-input" type="text" title="" />
    <span>Professionally presented</span><input id="rating-input1" type="text" title="" />
    <span>Polite and courteous</span><input id="rating-input2" type="text" title="" />
    <span>Quality of work</span><input id="rating-input3" type="text" title="" />
    <hr>

</form>
<hr>
<script>
    jQuery(document).ready(function () {
        $("#input-21f").rating({
            starCaptions: function (val) {
                if (val < 3) {
                    return val;
                } else {
                    return 'high';
                }
            },
            starCaptionClasses: function (val) {
                if (val < 3) {
                    return 'label label-danger';
                } else {
                    return 'label label-success';
                }
            },
            hoverOnClear: false
        });
        var $inp = $('#rating-input');

        $inp.rating({
            min: 0,
            max: 5,
            step: 1,
            size: 'sm',
            showClear: false
        });
        var $inp1 = $('#rating-input1');

        $inp1.rating({
            min: 0,
            max: 5,
            step: 1,
            size: 'sm',
            showClear: false
        });
        var $inp2 = $('#rating-input2');

        $inp2.rating({
            min: 0,
            max: 5,
            step: 1,
            size: 'sm',
            showClear: false
        });
        var $inp3 = $('#rating-input3');

        $inp3.rating({
            min: 0,
            max: 5,
            step: 1,
            size: 'sm',
            showClear: false
        });


        $('#btn-rating-input').on('click', function () {
            $inp.rating('refresh', {
                showClear: true,
                disabled: !$inp.attr('disabled')
            });
        });


        $('.btn-danger').on('click', function () {
            $("#kartik").rating('destroy');
        });

        $('.btn-success').on('click', function () {
            $("#kartik").rating('create');
        });

        $inp.on('rating.change', function () {
            alert($('#rating-input').val());
        });


        $('.rb-rating').rating({
            'showCaption': true,
            'stars': '3',
            'min': '0',
            'max': '3',
            'step': '1',
            'size': 'xs',
            'starCaptions': { 0: 'status:nix', 1: 'status:wackelt', 2: 'status:geht', 3: 'status:laeuft' }
        });
        $("#input-21c").rating({
            min: 0, max: 8, step: 0.5, size: "xl", stars: "8"
        });
    });
</script>