
@{
    ViewBag.Title = "ApproveProjectTimesheet";
}
<div class="container">

    <table class="table  table-hover table-responsive" style="padding-top:50px">
        <tr>
            <th>Projects</th>
            <th>Opportunity</th>
            <th>Resource</th>
            <th>Hours</th>
            <th>RESOURCE TYPE</th>
            <th>Details</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>MEF Mobile</td>
            <td>20567</td>
            <td>DOM</td>
            <td>40</td>
            <td>PERMANENT</td>
            <td><input type="submit" value="Details" name="Details" class=" btn-sm btn-warning" /></td>
            <td><input type="submit" value="APPROVE" name="APPROVE" class=" btn-sm btn-success" /></td>
            <td><input type="submit" value="REJECT" name="REJECT" class=" btn-sm btn-danger" /></td>
        </tr>
        <tr>
            <td>MEF Mobile</td>
            <td>20567</td>
            <td>BEN</td>
            <td>40</td>
            <td>PERMANENT</td>
            <td><input type="submit" value="Details" name="Details" class=" btn-sm btn-warning" /></td>
            <td><input type="submit" value="APPROVE" name="APPROVE" class=" btn-sm btn-success" /></td>
            <td><input type="submit" value="REJECT" name="REJECT" class=" btn-sm btn-danger" /></td>
        </tr>
        <tr>
            <td>MEF Mobile</td>
            <td>20567</td>
            <td>RAJINI</td>
            <td>40</td>
            <td>PERMANENT</td>
            <td><input type="submit" value="Details" name="Details" class=" btn-sm btn-warning" /></td>
            <td><input type="submit" value="APPROVE" name="APPROVE" class=" btn-sm btn-success" /></td>
            <td><input type="submit" value="REJECT" name="REJECT" class=" btn-sm btn-danger" /></td>
        </tr>
        <tr>
            <td>MEF Mobile</td>
            <td>20567</td>
            <td>Ahmed</td>
            <td>40</td>
            <td>PERMANENT</td>
            <td><input type="submit" value="Details" name="Details" class=" btn-sm btn-warning" /></td>
            <td><input type="submit" value="APPROVE" name="APPROVE" class=" btn-sm btn-success" /></td>
            <td><input type="submit" value="REJECT" name="REJECT" class=" btn-sm btn-danger" /></td>
        </tr>
        <tr>
            <td>Verser</td>
            <td>20578</td>
            <td>NAZ</td>
            <td>40</td>
            <td>PERMANENT</td>
            <td><input type="submit" value="Details" name="Details" class=" btn-sm btn-warning" /></td>
            <td><input type="submit" value="APPROVE" name="APPROVE" class=" btn-sm btn-success" /></td>
            <td><input type="submit" value="REJECT" name="REJECT" class=" btn-sm btn-danger" /></td>
        </tr>
    </table>
</div>


